<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      IFC Tasks
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="showModal()">
           <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="!tasks.length">
      Você não tem nenhuma tarefa adicionada.
      <p>
        Clique <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon> para adicionar novas tarefas.
      </p>
    </ion-item>

    <ion-item-sliding *ngFor = "let task of tasks">
      <ion-item>
        <ion-toggle checked="{{(task.status == 'pending')?false:true}}" (click)="doneTask(task.id, task.status)">
        </ion-toggle>
        <ion-label>
          <h2 [ngClass]="task.status">{{task.task}}</h2>
          <p [ngClass]="task.body">
            {{task.body}}
          </p>
          <p [ngClass]="task.deadline">
            Termina no dia: {{task.deadline}}
          </p>
          <p [ngClass]="task.priority">
            {{task.priority}}
          </p>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <button ion-button color="primary" (click)="showModal(task.id)"><ion-icon name="clipboard"></ion-icon>Editar</button>
        <button ion-button color="danger" (click)="deleleTask(task.id)"><ion-icon name="trash"></ion-icon>Remover</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
