<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      IFC Tasks
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="showModal()">
           <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="!tasks.length">
      Voce nao tem nenhuma tarefa.
      <p>
        Clique em  <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon> para adicionar novas tarefas.
      </p>
    </ion-item>

    <ion-item-sliding *ngFor = "let task of tasks">
      <ion-item>
        <!--<ion-toggle checked="{{(task.task.status == 'pending')?false:true}}" (click)="doneTask(task.key, task.task)">
        </ion-toggle>-->
        <ion-label>
          <h2 [ngClass]="task.task.status">{{task.task.task}}</h2>
          <p [ngClass]="task.task.body">
            {{task.task.body}}
          </p>
          <p [ngClass]="task.task.deadline">
            Termina no dia: {{task.task.deadline}}
          </p>
          <p [ngClass]="task.task.priority">
            {{task.task.priority}}
          </p>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <button ion-button color="primary" (click)="editTask(task.key, task.task)"><ion-icon name="clipboard"></ion-icon>Editar</button>
        <button ion-button color="light" (click)="doneTask(task.key, task.task)"><ion-icon name="checkmark-circle"></ion-icon>Concluir</button>
        <button ion-button color="danger" (click)="removeTask(task.key)"><ion-icon name="trash"></ion-icon>Remover</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
